@mixin primary-color {
  color: $primary-color;
}

@mixin mq($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin mq-min($only-min) {
  @media only screen and (min-width: $only-min) {
    @content;
  }
}

@mixin mq-max($only-max) {
  @media only screen and (max-width: $only-max) {
    @content;
  }
}

@mixin float($props) {
  float: $props;
  &:after{
    content: '';
    display: block;
    clear: both;
  }
}

@mixin clear_fix() {
  &:before{
    content: '';
    display: block;
    clear: both;
  }
  &:after{
    content: '';
    display: block;
    clear: both;
  }
}
