$clr-primary: #5bc4d6;
$clr-second: #4164a9;

$clr-body: #f5f8fb;

$clr-dark: #333;
$clr-light: #e4eaf1;
$clr-success: #36c678;
$clr-red: #f30;

// Default
$clr-white: #ffff;
$clr-black: #000;

// Font family
$family-1: 'Poppins', sans-serif;


// ==============================    Color used
// 00eaff - banner text
// 7e8fff - footer 3 tag color/ footer social icon
