*{
    padding: 0;
    margin: 0;
    outline: 0;
}
html{
    scroll-behavior: smooth;
}
body { 
    line-height: normal;
    font-family: $family-1;
    overflow-X: hidden;
    position: relative;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    background: $body-color;
}

h1{
    @extend .no-pmo;
}
h2{
    @extend .no-pmo;
    @extend .family-3;
    font-size: 26px;
    color: $dark-light;
    font-weight: 400;
}
h3{
    @extend .no-pmo;
    @extend .family-2;
}
h4{
    @extend .no-pmo;
    @extend .family-3;
}
h5{
    @extend .no-pmo;
    @extend .family-1;
}
h6{
    @extend .no-pmo;
    @extend .family-2;
}
p{
    @extend .family-1;
}
ul, li, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    transition: all .3s linear;
    display: inline-block;
}
a:hover{
    text-decoration: none;
}

img{
    max-width: 100%;
}

p{
    color: $accent-p;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .25px;
    @extend .family-1;
}
button{
    cursor: pointer;
    &:focus{
        outline: none;
    }
}

.no-pmo{
    padding: 0;
    margin: 0;
    outline: 0;
}