.py-80{
    padding: 80px 0!important;
}

// padding top
.pt-80{
    padding-top: 80px!important;
}
.pt-73{
    padding-top: 73px!important;
}
.pt-60{
    padding-top: 60px!important;
}
.pt-30{
    padding-top: 30px!important;
}

// padding bottom
.pb-80{
    padding-bottom: 80px!important;
}

// Margin top
.mt-30{
    margin-top: 30px!important;
}