* {
    padding: 0;
    margin: 0;
}

body {
	background: green;
	padding: 30px;
}

.wapper {
    width: 767px;
    margin: auto;
	padding: 50px;
	background: #fff;
	height: 100vh;
	color: #000;
	text-align: center;
	h2{
		font-size: 35px;
		padding-bottom: 10px;
	}
	p{
		font-size: 20px;
	}
    img{
    	width: 100%;
    	margin-top: 20px;
    }
}