$primary-color: #2874f0;
$second-color: #ff250d;
$third-color: #df4d3e;
$four-color: #017cee;


$dark-light: #555555;

$widget-color: #5f6490;

$accent-p: #45475e;

$accent-color-1: #017cee;
$accent-color-2: #1c1649;
$accent-color-3: #a2a6cd; // arrow Colors

$accent-light-1: #e6e9ff;

$body-color: #f5f8fb;
$border-color-2: $accent-light-1;

// Opcaity color
$over-color-1: #bac1ff; // copyright 
$over-color-2: #5b64b8; // default footer widget
$over-color-3: #7f86c2; // footer widgets tag

// Font family
$family-1: "Roboto", sans-serif;
$family-2: 'Teko', sans-serif;
$family-3: 'Oswald', sans-serif;

// Default
$white: #ffffff;
$dark: #000000;

$pros-color: #01bd1b;
$cons-color: #ff3300;


// other Hard-color
$gray-1: #343434;

// ==============================    Color used
// 00eaff - banner text
// 7e8fff - footer 3 tag color/ footer social icon