$clr-primary: #5BC4D6;
$clr-second: #4164A9;


$clr-body: #f5f8fb;

$clr-dark: #333333;
$clr-light: #E4EAF1;
$clr-success: #36C678;
$clr-red: #ff3300;

// Default
$clr-white: #ffffff;
$clr-black: #000000;

// #E4EAF1



// Font family
$family-1: 'Poppins', sans-serif;




// ==============================    Color used
// 00eaff - banner text
// 7e8fff - footer 3 tag color/ footer social icon